body {
	background: #444;
	margin: 0;
	padding: 0;
	font-size: calc(14px + 1vmin);
	font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}
main {
	position: fixed;
	width: 100vw;
	height: 100wh;
}

ul {
	padding: 0;
	margin: 0;
}
li {
	display: block;
	padding: calc(0.5em + 1vh) 0;
}


#w {
	width: 1000px;
	height: 1000px;
	border: solid 1px black;
	position: absolute;
	background: #eee6e6;
	box-shadow: 0 0 5vmin rgba(0, 0, 0, 0.3);
}
#ws, #wc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: rgba(255, 0, 0, 0.2); */
}
#ws {
	/* background: rgba(0, 0, 255, 0.2); */
}

.ui {
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	width: 100vw;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	padding: 2vmin;
	box-sizing: border-box;
}
.uirow {
	display: flex;
	justify-content: space-around;
	padding: 2vmin;
}
#tui {
	top: 0;
}
#bui {
	bottom: 0;
}

button {
	border-radius: 2em;
	border: solid 1px #555;
	background: rgba(255, 255, 255, 0.7);
	color: #000;
	padding: 2vmin;
	font-size: inherit;
	cursor: pointer;
}
button:hover {
	background: white;
}
button, #blist {
	transition: all ease-in-out 0.2s;
}
#binfo {
	background: rgba(255, 255, 255, 0.5);
}
#blist {
	display: none;
	padding: 1em auto;
	max-width: 30em;
	background: rgba(255, 255, 255, 0.9);
}
.b-name {
	font-size: 2em;
}
.bselected #blist {
	display: block;
}

.bselected #build,
.looping #pause,
.creating #cancel,
.bselected #blist,
.pop #jobs,
.assigning #jass {
	transform: scale(1);
	max-height: 100vh;
}
#pause, #build, #cancel, #blist, #jobs, #jass,
.looping #play,
.creating #build,
.creating #blist,
.pop #restart {
	transform: scale(0);
	max-height: 0;
}

/* Jobs assignment */
#jass {
	text-align: right;
	padding: 1vmin;
	background: #fff;
}
#jass ul {
	padding: 0;
	margin: 0;
}
#jass li {
	display: block;
	padding: 1em 0;
}
#jass b {
	display: inline-block;
	width: 2em;
	text-align: center;
}
#jass label {
	display: inline-block;
	width: 16em;
	text-align: right;
}
#jass input[type="range"] {
	width: 16em;
}

.up-action {
	cursor: pointer;
	border-bottom: solid 1px #666;
	padding: 0.5em 1em;
	display: flex;
	justify-content: space-between;
}
.up-action:hover {
	background: #ffffcc;
}


/* --- SVG --- */
.meeple {
	transition: all linear 0.1s;
	stroke: #000;
	stroke-width: 3px;
}
.mj-idle {
	fill: #777;
}
.mj-prod {
	fill: #0c5;
}
.mj-carr {
	fill: #cc0;
}
.mj-defe {
	fill: #c50;
}
.mj-spir {
	fill: #05c;
}

.building, .building-connector {
	fill: #fff;
	stroke: #555;
	stroke-width: 2px;
	cursor: pointer;
}
.building:hover {
	stroke: #000;
}

.selectedb > * {
	stroke: #0ff;
	stroke-width: 4px;
}

.road {
	stroke: #b99;
	stroke-width: 4px;
}

.b-outpost {
	fill: #fff;
}
.b-connector {
	fill: #fff;
}
.b-stockpile {
	fill: #fff;
}
.b-woodCutter {
	fill: #9b9;
}
.b-stoneMine {
	fill: #663;
}
.b-oreMine {
	fill: #b83;
}
.b-tower {
	fill: #b99;
}
.b-fortress {
	fill: #a55;
}
.b-grainFarm {
	fill: #7a7;
}
.b-riceFarm {
	fill: #6c6;
}
.b-shrine {
	fill: #4df;
}
.b-temple {
	fill: #09f;
}
.b-farmHouse {
	fill: #cca;
}
.b-urbanHouse {
	fill: #bb9;
}