body {
	background: #444;
	margin: 0;
	padding: 0;
	font-size: calc(14px + 1vmin);
}
main {
	position: fixed;
	width: 100vw;
	height: 100wh;
}
#w {
	width: 1000px;
	height: 1000px;
	border: solid 1px black;
	position: absolute;
	background: #eee6e6;
	box-shadow: 0 0 5vmin rgba(0, 0, 0, 0.3);
}
#ws, #wc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: rgba(255, 0, 0, 0.2); */
}
#ws {
	/* background: rgba(0, 0, 255, 0.2); */
}

.ui {
	position: fixed;
	background: rgba(0, 0, 0, 0.1);
	width: 100vw;
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	padding: 2vmin;
}
.uirow {
	display: flex;
	justify-content: space-around;
	padding: 2vmin;
}
#tui {
	top: 0;
}
#bui {
	bottom: 0;
}

button {
	border-radius: 2em;
	border: solid 1px #555;
	background: rgba(255, 255, 255, 0.7);
	color: #000;
	padding: 2vmin;
	font-size: inherit;
	cursor: pointer;
}
button:hover {
	background: white;
}
button, #blist {
	transition: all ease-in-out 0.2s;
}
#blist {
	display: none;
	padding: 1em auto;
	max-width: 30em;
	background: white;
}
.bselected #blist {
	display: block;
}

.bselected #build,
.looping #pause,
.creating #cancel,
.bselected #blist,
.pop #jobs {
	transform: scale(1);
	max-height: 100vh;
}
#pause, #build, #cancel, #blist, #jobs,
.looping #play,
.creating #build,
.creating #blist,
.pop #restart {
	transform: scale(0);
	max-height: 0;
}


.meeple {
	transition: all linear 0.1s;
}

.building, .building-connector {
	fill: #fff;
	stroke: #555;
	stroke-width: 2px;
	cursor: pointer;
}
.building:hover {
	stroke: #000;
}

.selectedb > * {
	stroke: #0ff;
	stroke-width: 4px;
}

.road {
	stroke: #b99;
	stroke-width: 4px;
}